@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cinzel';
  background-color: #8f83f7;
  margin: 0;
}

p {
  font-weight: 400;
  text-align: center;
}

h5, p {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

li {
  display: inline;
  text-decoration: none;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

.jumbotron {
  background-color: #6252f3;
  border-radius: 25px 25px 25px 25px;
  margin-top: 20px;
}

.navbar {
  background-color: #8f83f7;
  font-weight: bold;
  border: 5px solid #6252f3;
  text-align: center;
  position: fixed;
  z-index: 1;
}

.navbar2 {
  height: 100px;
  background-color: #8f83f7;
  -webkit-box-shadow: 0 20px 30px #8f83f7;
          box-shadow: 0 20px 30px #8f83f7;
  font-weight: bold;
  border: 5px solid #6252f3;
  border-top: 0px;
  border-radius: 0 0 20px 20px;
  text-align: center;
  position: fixed;
  top: 60px;
  z-index: 1;
}

.navbar2 .navbar-brand {
  padding: 0 20px 0 20px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.navbar2 .navbar-nav {
  margin: auto;
}

.navbar-brand {
  background-color: #6252f3;
  padding: 0 20px 0 20px;
  border-radius: 10px;
}

.navbar-second {
  margin-top: 5px;
  color: white;
}

.nav-item {
  margin: 0 20px 0 20px;
}

.dropdown-menu {
  background-color: #6252f3;
}

.navbar-brand {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.navbar-brand:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
}

.nav-item {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.nav-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
}

.footer {
  text-align: left;
  background-color: #8f83f7;
  height: 50px;
  font-weight: 600;
}

.copyright img {
  height: 10px;
  width: 20px;
}

.copyright figcaption {
  display: inline;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .card {
    height: 250px;
    width: 350px;
    margin: 10px auto;
  }
  .card.card-island {
    height: 250px;
    width: 300px;
  }
  .card.card-restaurant {
    height: 400px;
    width: 350px;
  }
  .card, .card-island {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
  }
  .card:hover, .card-island:hover, .card-restaurant:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 5px 5px 20px;
            box-shadow: 5px 5px 20px;
    background-color: #7466f3;
  }
  .card-social {
    margin: 10px 5px 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .phone-restaurant {
    text-align: center;
    padding: 10px 40px 0 0;
  }
  .phone-restaurant a {
    padding-left: 5px;
  }
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.place {
  background-color: black;
  color: white;
}

.restaurant_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-restaurant {
  background-color: #9f95f7;
  position: relative;
  top: 200px;
  margin: 40px auto;
  color: white;
}

.card-restaurant a {
  color: white;
}

.card-restaurant_img {
  height: 220px;
  width: 350px;
  margin: 0 auto;
}

.card-restaurant_img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-social {
  margin: 10px 5px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.card-socialtitle {
  border-radius: 20px;
}

.icon-social {
  height: 35px;
  margin: 0 20px 0 10px;
  background-color: white;
  padding: 0 2px 0 2px;
  border-radius: 5px;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite;
          animation: heartbeat 1.5s ease-in-out infinite;
}

.icon-social_2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.icon-social_3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.icon-googlemap {
  height: 40px;
  background-color: white;
  padding: 0 2px 0 2px;
}

.phone-restaurant {
  text-align: center;
  padding: 10px 0 10px 0;
}

.phone-restaurant a {
  padding-left: 5px;
}

.container-fluid {
  background-color: #15DEA5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: center;
}

.card {
  margin: 10px auto;
  height: 400px;
  width: 500px;
  background-color: #6252f3;
  border-radius: 30px;
}

.card.card-island {
  height: 250px;
  width: 300px;
}

.card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 150px;
  max-width: 500px;
  border-radius: 30px;
}

.card-island {
  margin-bottom: 20px;
}

.card, .card-island {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.card:hover, .card-island:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
}
/*# sourceMappingURL=indexstyle.css.map */