@import "utils/variables";

@import "base/base";

@import "layouts/header";
@import "layouts/nav";
@import "layouts/footer";

.container-fluid
{
    background-color:$bg-color-main;
}


.card
{

    height:250px;
    width: 500px;
    background-color:rgb(98, 82, 243);
    border-radius: 30px;
    margin: 5px 0 5px 0;
    &.card-island{
    height:250px;
    width: 300px;
    }
}
.card-body{
    margin:auto;
}

.card-img-top
{
    object-fit: cover;
    max-height: 150px;
    max-width : 500px;
    border-radius: 30px;
}
.card-island{
    margin-bottom:20px;
}
.card-restaurant{
    background-color:$bg-color-itemhyperlight;
    margin: 5px 0 5px 0;
    color:$color-font-light;
    & a
    {
        color:$color-font-light;
        margin-left:5px;
    }

}
.facebook{
    height:10%;
    margin:10px;
}
.googlemap{
    height:15%;
}

.card, .card-island
{
    transform: scale(1);
    transition: transform 200ms;

}
.card:hover, .card-island:hover
{
    transform: scale(1.10);
    box-shadow:5px 5px 20px;
}



@media all and (max-width: 550px)
{
.card
{
    height:auto;
    width: auto;
}
}