@import "utils/variables";

@import "base/base";
@import "base/minireset";
@import "layouts/header";
@import "layouts/nav";
@import "layouts/footer";
@import "layouts/mediaquerys";

.container-fluid
{
    background-color:$bg-color-main;
}
.container{
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}

.card
{
    margin: 10px auto;
    height:400px;
    width: 500px;
    background-color:rgb(98, 82, 243);
    border-radius: 30px;
    
    &.card-island{
    height:250px;
    width: 300px;
    }


}
.card-img-top
{
    object-fit: cover;
    max-height: 150px;
    max-width : 500px;
    border-radius: 30px;
}
.card-island{
    margin-bottom:20px;
}
.card-restaurant{
    background-color:$bg-color-itemhyperlight;
    margin: 10px auto;
    color:$color-font-light;
    & a
    {
        color:$color-font-light;
       
    }

}
.card-restaurant_img{
    
    height:220px;
    width:350px;
    margin:0 auto;
    

    img{
    height:100%;
    width:100%;
    object-fit: cover;
    
    }
}

.card-social{
    margin:10px 5px 0 30px;
    display:flex;
    justify-content: left;
    &title{
        border-radius:20px;
    }
} 


.icon-social{
    height:35px;
    margin: 0 20px 0 10px;
    background-color: white;
    padding: 0 2px 0 2px;
    border-radius:5px;
}
.icon-googlemap
{
    height:40px;
    background-color: white;
    padding: 0 2px 0 2px;
}
.phone-restaurant{
    text-align:center;
    padding: 10px 0 10px 0;;
    a{
        padding-left:5px;
    }
    
}


.card, .card-island
{
    transform: scale(1);
    transition: transform 200ms;

}
.card:hover, .card-island:hover
{
    transform: scale(1.10);
    box-shadow:5px 5px 20px;

}


@media only screen and (max-width: #{$medium}) {

    .card
    {
    
        height:250px;
        width: 350px;
        margin: 10px auto;
        

        &.card-island{
        height:250px;
        width: 300px;
        }
        &.card-restaurant{
        height: 400px;
        width: 350px;

        }
    
    }
    .card, .card-island
{
    transform: none;
    transition: none;

}
.card:hover, .card-island:hover, .card-restaurant:hover
{
    transform: none;
    box-shadow:5px 5px 20px;
    background-color: darken($bg-color-itemhyperlight,10);
}


.card-social{
    margin:10px 5px 10px 30px;
    display:flex;
    flex-direction: column;

} 
.phone-restaurant{
    text-align:center;
    padding: 10px 40px 0 0;
    a{
        padding-left:5px;
    }
    
}
}