.footer{
text-align:right;
background-color:$bg-color-itemlight;
height:8%;
 
}


.copyright img {
    height: 10px;
    width: 10px;
  }
  
  .copyright figcaption {
    display: inline;
    font-weight: 600;
  }
  