.footer{
text-align:left;
background-color:$bg-color-itemlight;
height:80px;
font-weight: 600;

}


.copyright img {
    height: 10px;
    width: 20px;
  }
  
  .copyright figcaption {
    display: inline;
    font-weight: 600;
  }
  