
.navbar{
    background-color:$bg-color-itemlight;
    font-weight: bold;
    border:2px solid $bg-color-item;
    border-radius:25px;
    text-align:center;
    position:fixed;
    top:10px;
    z-index:1;
  
}
.navbar2{
    background-color:$bg-color-itemlight;
    font-weight: bold;
    border:2px solid $bg-color-item;
    border-radius:25px;
    text-align:center;
    position:fixed;
    top:80px;
    z-index:1;
    
  
}
.navbar-brand{
    background-color:$bg-color-item;
    padding:0 20px 0 20px;
    border-radius: 25px;
    }
.navbar-second{
    margin-top:5px;
    color:white;
 
}
.nav-item{
    margin:0 20px 0 20px;
    
}
.dropdown-menu{
    background-color:$bg-color-item;
}

// Transformation 
.navbar-brand
{
    transform: scale(1);
    transition: transform 200ms;

}
.navbar-brand:hover
{
    transform: scale(1.10);
    box-shadow:5px 5px 20px;
}
.nav-item
{
    
    transform: scale(1);
    transition: transform 200ms;

}
.nav-item:hover
{
    transform: scale(1.10);
    box-shadow:5px 5px 20px;
    
}



