html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
body
{
    font-family:'Cinzel';
    background-color:$bg-color-main;
    margin:0;
}
.container-fluid
{
    background-color:$bg-color-main;
}
p
{
    font-weight:400;
    text-align:center;
}
h5, p
{
    color:white;
}
a
{
    text-decoration: none;
    color:black;
}
li{
    display: inline;
    text-decoration:none;
}